body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #849D8F;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 27px;
}

.header_container {
  display: flex;
}

.logo {
  margin-top: 9px;
}

.main-navigation {
  font-family: "Roboto-bold", sans-serif;
  font-size: 16px;
  color: white;
  width: 350px;
  margin-top: 30px;
}

.main-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-left: 23px;
}

.catalog-menu:active {
  background-color: white;
  color: #323232;
  border: 1px solid white;
  border-radius: 90px;
  width: 90px;
  padding: 5px 8px 6px 9px;
  margin: 0px;
}


.user-navigation {
  font-family: "Roboto-medium", sans-serif;
  font-size: 14px;
  color: white;
  margin-left: auto;
  display: flex;
  width: 246px;
  justify-content: space-between;
  list-style: none;
}

.search {
  border: 0px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  height: 35px;
  width: 35px;
  color: white;
  position: relative;
  display: block;
}

.search-word {
  opacity: 0;
}

.loupe-search-img {
  position: absolute;
  left: 9px;
  top: 8px;
}

.entry {
  border: 0px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 60px;
  width: 96px;
  height: 35px;
  color: white;
  display: block;
  box-sizing: border-box;
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 44px;
  position: relative;
}

.door-img {
  position: absolute;
  left: 16px;
  top: 8px;
  color: white;
}

.basket-zero {
  border: 0px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 60px;
  width: 103px;
  height: 35px;
  color: white;
  display: block;
  box-sizing: border-box;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 47px;
  position: relative;
}

.basket-zero-img {
  position: absolute;
  left: 19px;
  top: 8px;
}

.work-time-header {
  font-family: "Roboto-bold", sans-serif;
  font-size: 14px;
  color: white;
  margin-bottom: 7px;
  display: block;
  margin-left: auto;
  padding: 0;
  width: 150px;
}

.contact-phone {
  font-family: "Roboto-bold", sans-serif;
  font-size: 22px;
  color: white;
  display: block;
  margin-left: auto;
  padding: 0;
  width: 164px;
}

.special-offer {
  display: flex;
  justify-content: space-between;
}

.special-offer-berry {
  background-color: #B52042;
  background-image: url("../img/berry-bg.png");
  background-repeat: no-repeat;
  height: 229px;
  border-radius: 25px;
  width: 560px;
}

.action-berry {
  font-family: "Roboto-bold", sans-serif;
  font-size: 35px;
  margin: 7px 22px 0px 21px;
}

.about-action-berry {
  font-family: "Roboto-bold", sans-serif;
  font-size: 18px;
  margin: 21px 29px 0px 21px;
}

.want-jam {
  display: block;
  box-sizing: border-box;
  width: 168px;
  height: 49px;
  font-size: 18px;
  font-family: "Roboto-bold", sans-serif;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16 ,0 ,0.64);
  border-radius: 30px;
  margin: 49px 21px 23px 374px;
  padding: 8px 23px 21px 22px;
}

.special-offer-choco {
  background-color: #351606;
  background-image: url("../img/choco-bg.png");
  height: 228px;
  border-radius: 25px;
  width: 560px;
}

.action-choco {
  font-family: "Roboto-bold", sans-serif;
  font-size: 35px;
  margin: 7px 0px 0px 21px;
}

.about-action-choco {
  font-family: "Roboto-bold", sans-serif;
  font-size: 18px;
  margin: 22px 29px 0px 21px;
}

.want-choco {
  width: 192px;
  height: 48px;
  font-size: 18px;
  font-family: "Roboto-bold", sans-serif;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16 ,0 ,0.64);
  border-radius: 30px;
  display: block;
  box-sizing: border-box;
  margin: 49px 0px 23px 348px;
  padding: 8px 23px 21px 22px;
}

.list-item {
  font-family: "Roboto-medium", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 27px 0px 0px 0px;
  padding: 0px;
}

.item {
  position: relative;
}

.ice-image {
  width: 267px;
}

.hit-image {
  position: absolute;
  top: 0px;
  left: 0px;
}

.ice-cost {
  font-family: "Roboto-bold", sans-serif;
  font-size: 45px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 205px;
  left: 0px;
}

.kg {
  font-family: "Roboto-bold", sans-serif;
  font-size: 30px;
}

.ice-description {
  display: inline-block;
  text-align: center;
  width: 246px;
  line-height: 22px;
  margin-top: 2px;
  margin-left: 9px;
  margin-right: 12px;
}

.about-store {
  background-image: url("../img/waffle-big.png");
  background-repeat: no-repeat;
  background-color: #F0E5CC;
  border-radius: 15px;
  margin-top: 28px;
}

.about-gllacy {
  font-size: 24px;
  font-family: "Roboto-medium", sans-serif;
  color: #323232;
  display: block;
  margin: 62px 0px 4px 20px;
  padding-top: 23px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-first-row {
  display: flex;
  margin: 14px 34px 14px 19px;
}

.advantages-second-row {
  display: flex;
  margin: 0px 34px 27px 19px;
}

.advantages {
  font-size: 16px;
  font-family: "Roboto-regular", sans-serif;
  color: #323232;
  width: 480px;
  margin: 15px 30px 0px 8px;
}

.advantages_img {
  display: flex;
}

.news-and-subscription {
  display: flex;
  margin-top: 38px;
  justify-content: space-between;
}

.news {
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
}

.news-about-us {
  font-size: 16px;
  font-family: "Roboto-medium", sans-serif;
  color: #323232;
  margin: 27px 24px 14px 20px;
}

.article {
  font-size: 24px;
  font-family: "Roboto-bold", sans-serif;
  color: #323232;
  display: inline-block;
  margin: 0px 267px 83px 20px;
}

.subscribe-bg {
  background-image: url("../img/post-office-bg.png");
  background-repeat: no-repeat;
}

.subscribe {
  background-color: #F8F7F4;
  font-size: 16px;
  font-family: "Roboto-regular", sans-serif;
  color: #5A5A5A;
  width: 548px;
  display: inline-block;
  border-radius: 15px;
  margin: 6px 6px 6px 6px;
}

.newsletter {
  display: inline-block;
  line-height: 22px;
  margin: 32px 22px 0px 22px;
}

.email {
  margin-left: 22px;
  margin-bottom: 24px;
  margin-top: 41px;
  width: 345px;
  height: 43px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid rgba(178,178,178,0.52);
  font-family: "Roboto-regular", sans-serif;
  font-size: 16px;
  color: #999999;
  padding-left: 16px;
}

.send-button {
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
  border-style: none;
  width: 131px;
  height: 49px;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Roboto-bold", sans-serif;
  color: white;
  margin-left: 11px;
}

iframe {
  position: relative;
}

.contacts {
  background-color: white;
  border: 0px solid white;
  border-radius: 15px;
  margin-right: 0px;
  padding-left: 25px;
  position: absolute;
  display: block;
  top: 1410px;
  width: 302px;
}

.adress {
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  color: #323232;
  margin: 32px 107px 0px 0px;
  line-height: 20px;
}

.store-adress {
  font-family: "Roboto-bold", sans-serif;
  font-size: 18px;
  color: #323232;
  line-height: 24px;
  margin-right: 57px;
}

.phone-order {
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  color: #323232;
  margin-top: 25px;
}

.phone-number {
  font-family: "Roboto-bold", sans-serif;
  font-size: 18px;
  color: #323232;
  margin-top: 11px;
}

.work-time-footer {
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  color: #323232;
  margin-top: 11px;
  margin-bottom: 28px;
}

.feedback {
  width: 254px;
  font-size: 18px;
  font-family: "Roboto-bold", sans-serif;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16 ,0 ,0.64);
  display: block;
  border-radius: 30px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 30px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.for-providers {
  background-image: url(img/heart.svg);
  font-family: "Roboto-bold", sans-serif;
  font-size: 13px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.social-network {
  display: flex;
  list-style: none;
  width: 186px;
  justify-content: space-between;
}

.footer-info-left-column {
  font-family: "Roboto-regular", sans-serif;
  font-size: 13px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.footer-info-right-column{
  font-family: "Roboto-regular", sans-serif;
  font-size: 13px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  text-align: left;
}

.footer-list-information {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  text-align: left;
  width: 305px;
  line-height: 20px;
  margin-bottom: 25px;
}
.made-by-info {
  margin-top: 20px;
  margin-bottom: 25px;
}

.made-by {
  font-family: "Roboto-regular", sans-serif;
  font-size: 12px;
  color: white;
  margin: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.catalog {
  border: 0px solid red;
  background-color: #D07058;
  border-radius: 90px;
  color: white;
  font-family: "Roboto-bold", sans-serif;
  font-size: 16px;
}

.basket-two-product {
  background-image: url(img/basket-red.svg);
  background-color: white;
  width: 120px;
  height: 35px;
  color: black;

}

.page-navigation {
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.current-page {
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  color: white;
}

.options {
  font-size: 14px;
  font-family: "Roboto-medium", sans-serif;
  color: white;
}

.choice {
  font-size: 16px;
  font-family: "Roboto-medium", sans-serif;
  color: white;
}

.current-page-number {
  color: #353535;
  border-radius: 180px;
  background-color: white;
  width: 29px;
  height: 29px;
  font-family: "Roboto-medium", sans-serif;
  font-size: 16px;
}

.page-number {
  color: white;
  font-family: "Roboto-medium", sans-serif;
  font-size: 16px;
}

.sub-catalog-menu {
  background-color: #F8F7F4;
  color: black;
  font-size: 14px;
  font-family: "Roboto-regular", sans-serif;
  line-height: 30px;
  width: 147px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}

.menu-list {
  list-style: none;
  padding-left: 20px;
  line-height: 30px;
  padding-top: 2px;
  padding-bottom: 6px;
}

.menu-items:hover {
  background-color: #FBDED8;
  border-radius: 10px;
}

.new-ice {
  font-family: "Roboto-bold", sans-serif;
  font-size: 14px;
}

.modal-login {
  background-color: #F8F7F4;
  width: 256px;
  font-family: "Roboto-regular", sans-serif;
  font-size: 13px;
  color: black;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 55px;
  left: 50%;
  margin-left: 166px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
}


.login {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  border: 1px solid rgba(178,178,178,0.52);
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pasword {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  border: 1px solid rgba(178,178,178,0.52);
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.enter-button {
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172,16,0,0.64);
  border-style: none;
  width: 103px;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Roboto-bold", sans-serif;
  color: white;
  padding: 15px 25px 15px 25px;
  display: inline;
  width: 100px;

}

.login-enter-and-help {
  display: flex;
}

.login-help {
  width: 120px;
  margin-left: auto;
  text-align: left;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
  font-family: "Roboto-regular", sans-serif;
}

.modal-search {
  background-color: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  width: 342px;
  padding: 20px 18px 20px 18px;
  border-radius: 10px;
}

.search-box {
  width: 100%;
  border-radius: 5px;
  border-style: none;
  border: 1px solid rgba(178,178,178,0.52);
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  padding: 10px 15px 20px 15px;
}
